<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Клуб Mersedes-Benz</title>
    <link
      rel="stylesheet"
      href="../css/style.css">
  </head>

  <body text="white">

    <h1 align="center" id="top"> Клуб Mercedes-Benz</h1>

    <nav>
        <a href="../html/main.html" class="active">Главная</a>
        <a href="../html/history.html">История</a>
        <a href="../html/light vehicles.html">Легковые автомобили</a>
        <a href="../html/heavy vehicles.html">Грузовые автомобили</a>
        <a href="../html/buses.html">Автобусы</a>

        <a target="blank" href="https://www.mercedes-benz.ru/?group=all&subgroup=see-all&view=BODYTYPE">Официальный сайт в РФ</a>
        <a target="blank" href="https://vk.com/supermercedes%22%3E">Любительская группа VK</a>
        <a href="../html/feedback.html">Обратная связь</a>
    </nav>
    <main>
      <a href="https://sales.mercedes-avangard.ru"> <img src="../img/dealership.jpeg" alt="" width="100%" height="1000px"> </a>
      <p> <b>«Мерседес-Бенц» (Mercedes-Benz) - немецкая компания, специализирующаяся
        на выпуске легковых автомобилей и двигателей, основанная в 1926. В
        настоящее время является дочерней компанией концерна «Даймлер-Бенц».
        Штаб-квартира находится в Штутгарте.</b>
      </p>
      <p> <b>Это одна из наиболее узнаваемых автомобильных марок в мире.</b> </p>
      <p> <b>
        Mercedes-Benz является cамым продаваемым люксовым автомобильным брендом
        по итогам 2020 года. Немецкий автоконцерн удерживает лидерство в
        этом сегменте уже четвертый год подряд.</b>
      </p>

    <table
    border="5px"
    bordercolor="grey">
      <tr>
        <td>
          <h3> Интересные факты о Mersedes-Benz: </h3>
        </td>
      </tr>
      <tr>
        <td>
          <ol>
            <li>
              <p>
                С 1930 Mercedes производит спецавтомобили для Папы Римского. Первой такой моделью стал Mercedes-Benz Typ Nürburg 460.
                В 2012 году компания Mercedes-Benz передала Ватикану в подарок новый папамобиль, созданный на основе внедорожника ML (W166).
                Кстати, нынешний папа римский Франциск принципиально отказывается от папамобиля во время своих появлений на публике.
              </p>
            <li>
              <p>
                Mercedes-Benz CLK/LM стал самым дорогим серийным автомобилем в истории автопрома – его цена превышает $1,5 млн.
              </p>
            <li>
              <p>
                В Дубае можно встретить единственный в мире Mercedes G55 AMG с двигателем от SLR McLaren мощностью 720 л. с. Автомобиль
                весом более 2 тонн разгоняется до 100 км/ч за рекордные для внедорожника 4 секунды.
              </p>
            <li>
              <p>
                Стив Джобс покупал только автомобили Mercedes и ездил на них без номерных знаков. Законы Калифорнии позволяют подобное,
                но только в течение полугода со дня покупки. Откатавшись шесть месяцев, Джобс покупал новый Mercedes.
              </p>
            <li>
              В истории компании Бенца есть и свой собственный броневик. Причем бронедрезина «Бенц» — первая в мире броневая
              железнодорожная машина – была разработана и создана в России, российским отделением немецкой компании в 1911-1912 годах.
            </li>
          </ol>
        </td>
      </tr>
    </table>

      <footer>
        <p><a name="bottom"></a> </p>
        <p><a href="#top">Наверх</a></p>
      </footer>
    </main>
  </body>
</html>
